@import "alertify";
@import "datepicker";
@import "sumoselect";

$defaultfont: 'Roboto', sans-serif;
$abel: 'Abel', sans-serif;
$primary:#0fb963;
$secondary:#0096ff;
$notice:#ea696b;
::selection {
    background:$primary; /* WebKit/Blink Browsers */
    color:#fff;
}
  ::-moz-selection {
    background:$primary; /* Gecko Browsers */
    color: #fff;
  }
a{color:$primary;
 &:hover{color:darken($primary,5%);text-decoration:none;}
}
h1,h2,h3,h4,h5,h6{font-family:$abel;font-weight:600;}
p,div,span{font-family:$defaultfont;}
@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.submit{display:inline-block;height:45px;padding:12px 20px;text-align:center;color:#fff;text-transform:uppercase;font-size:1rem;font-family:$abel;border:1px solid darken($secondary,5%);outline:none;border-radius:2px;line-height:15px;@include linearGradient($secondary,darken($secondary,5%));cursor: pointer;
    &:hover,&:visited{@include linearGradient(darken($secondary,5%),$secondary);}
   }
   .input{border:2px solid #dedede;background:none;outline:none;color:#8b8b8b;font-size:14px;font-family:$defaultfont;padding:0px 10px;box-sizing:border-box;height:43px;width:100%;border-radius:3px;
 &:focus{border-color:$primary;}
}
.app-menu__item{
    &:hover,&:focus,&.active{border-left-color:$primary;}
}
.app-header__logo{background:url(../images/logo.png) no-repeat center center;width:100%;height:50px;font-size:0;max-width:230px;}
.app-header{background:$primary;
 .dropdown-menu{background:$primary;
    .dropdown-item{color:#fff;
     &:hover,&:focus{background:darken($primary,5%);color:#fff;}
    }
}
}
.app-sidebar__toggle{
    &:focus,&:hover{background:darken($primary,5%);}
}
.app-title h1{font-weight:600;color:$secondary;font-size:2rem;}
.app-sidebar{background:rgba(#000,0.95);}
.app-sidebar__user-name, .app-sidebar__user-designation{font-family:$abel;}
.app-menu__item{font-family:$defaultfont;font-size:13px;border-bottom:1px solid rgba(#fff,0.05);
 &:focus,&:hover,&.active{background:#000;}
}
.app-title p{font-family:$abel;font-style:normal;}
.widget-small .info h4{font-size:1.2rem;}
.treeview-menu{background:rgba(28,28,28,1);
 .treeview-item{font-size:13px;font-family:$defaultfont;}
}
.btn-primary{background-color:$secondary;border-color:$secondary;
 &:hover{background-color:darken($secondary,5%);border-color:darken($secondary,5%);}
&.form-control{color:#fff;}
}
.page-item.active .page-link{background-color:$primary;border-color:$primary;}
.form-control{
    &:focus{border-color:darken($primary,5%);}
}
table.table-bordered.dataTable,.table{
  td{font-size:13px;
    &.dataTables_empty{color:$notice;font-weight:600;font-family:$abel;font-size:1rem;}
.small,small{font-size:12px;}
div.alert{cursor: default;padding:6px 8px;text-align:center;font-size:12px;line-height:12px;
 strong{font-weight:400;}
}
a i{font-size:16px;}
} 
th{font-family:$abel;font-size:13px;color:#000;text-transform:uppercase;} 
} 
.animated-checkbox input[type="checkbox"] + .label-text:before{font-size:19px;}
.animated-checkbox input[type="checkbox"]:checked + .label-text:before{color:$primary;}
.animated-checkbox input[type="checkbox"] + .label-text{font-family:$abel;font-size:15px;}
.table th, .table td{padding:10px;}
.alertify{
  .ajs-dialog{background:#fff;padding:15px 40px;box-sizing: border-box;border-radius: 6px;} 
  .ajs-header {padding:0;display: inline-block;width: 100%;margin:0 0 10px 0;color:#000;font-family:$abel;font-size:1.5rem;font-weight:600;}
  .ajs-body .ajs-content{padding:10px 0;font-family:$defaultfont;font-size:13px;
 small{font-size:13px;}
}
  .ajs-footer{margin-left:0;margin-right:0;padding:0;
    .ajs-buttons.ajs-primary{
        .ajs-button{@extend .submit;margin-left:0;}
    }
    .ajs-buttons.ajs-primary{text-align:left;}
  }
  .ajs-commands{margin:0;padding:0;right:0;top:0;
    .ajs-close{width:40px;height:40px;border-radius:100%;background:url(../images/close.png) no-repeat 0 0 !important;cursor: pointer;opacity:0.2;
     &:hover{opacity:0.99;}
    }
}
} 
.form-control{@extend .input;
    &:focus{border-color:$primary;}
&[readonly]{border-color:#dedede;}
&.error{border-color:$notice;}
}
label.error{color:$notice;}
.datepicker{background:$primary !important;color:#fff !important;border:1px solid rgba($primary,10%) !important;
    .datepicker--pointer{background:$primary !important;border-top:1px solid rgba($primary,10%) !important;border-right:1px solid rgba($primary,10%) !important;}
    .datepicker--nav{background:darken($primary,4%) !important;padding:10px 4px !important;border-bottom:none !important;
   .datepicker--nav-title{text-transform:uppercase;color:#fff;
    i{color:#fff;}
   }
   }
   .datepicker--nav-action:hover, .datepicker--nav-title:hover{background:darken($primary,4%) !important;}
   .datepicker--nav-action path {stroke: #fff;}
   .datepicker--day-name{color:darken($primary,27%) !important;}
   .datepicker--cell.-current-,.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-,.datepicker--cell.-focus-{color:#fff !important;background:darken($primary,4%) !important;border-radius:0 !important;}
   }
   #sampleTable_wrapper{
       .col-md-6{
           .dataTables_length{
               label{margin-top:9px;}
           }
       }
   }
   .animated-checkbox{
       ul{margin-left:0;padding-left:0;}
   }
.fake-input{position: relative;display: inline-block;width: 100%;height: 40px;
 [type='text'] {@extend .input;position:absolute;left:0;top:0;}
 .fileUpload{position:absolute;right:0;top:0;width:95px;height:41px;background:none;outline:none;border:none;
 [type='file'] {position: absolute;z-index: 55;opacity: 0;left: 0;top: 0;width: 93px;height: 38px;cursor:pointer;}
 &:after{position: absolute;
    background: $primary;width: 93px;
    height:42px;
    line-height: 44px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    content: "Browse";
    left: 0;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    top: 0;border-radius:0 3px 3px 0;}
}
}
.tile .tile-title-w-btn{display:inline-block;text-align:right;width:100%;margin-bottom:10px;
    .fa-2x{font-size:1.2rem;
     &.fa-file-pdf-o{color:$notice;}
    }
}
.btn-success{background-color:$primary;border-color:$primary;
 &:hover{background-color:darken($primary,5%);border-color:darken($primary,5%);}
}
.btn{font-weight:400;}
.badge{font-weight:400;}
.nav-tabs .nav-link{font-family:$defaultfont;font-size:13px;text-transform:uppercase;}
.animated-radio-button{
    ul{margin-left:0;padding-left:0;}
    input[type="radio"]:checked + .label-text:before{color:$primary;}
}
.form-group{
    textarea{padding-top:10px;}
}
.badge{padding:5px;font-size:12px;color: #fff;
 &.badge-primary,&.badge-info{background:$secondary;}
 &.badge-success{background:$primary;}
 &.badge-warning{background:$notice;}
}
.badge-light{background:lighten($secondary,5%);color:#fff;padding:5px;font-size:12px;}
.col-md-12{
 &.manage-orders,&.manage-facilities{
    .dataTables_scrollHeadInner{width:100% !important;}
    div.dataTables_scrollHead table.table-bordered{width:100% !important;}
    div.dataTables_scrollBody{overflow:visible !important;
    table{width:100% !important;} 
    } 
}
}
.cs-tooltip{font-family:$abel;font-weight:400;border-bottom:none;
 > b{font-weight:400;color:#000;}
 .tooltiptext{background:#191919;
 b{font-weight:400;}
 &:after{border-color:#191919 transparent transparent transparent;}
}
}
table.table-bordered.dataTable tbody td{
    a{font-family:$abel;font-weight:600;}
    .text-success{
        i{font-size:1.2rem;}
    }
}
table.table-bordered.dataTable tbody td{
    .btn-group{
        .btn-secondary{padding: 6px 8px;text-align: center;font-size: 12px;line-height:14px;background:lighten($secondary,8%);border:1px solid darken($secondary,2%);min-width:122px;}
    }
}
.tile{
    .tile-body.notice{color:$notice;text-align:center;
    .text-muted{font-size:17px;font-family:$abel;color:#000 !important;font-weight:600;}
    }
}
.col-md-12{
    &.admin-users{
        .dataTables_scrollHeadInner{width:100% !important;}
        div.dataTables_scrollBody table{width:100% !important;}
    }
} 
.SumoSelect{width:100%;
	> .optWrapper.multiple > .options li.opt{padding: 3px 10px 3px 25px;font-size: 12px;border:none;height:auto;width:100%;}
	.select-all > span, > .optWrapper.multiple > .options li.opt span{width:24px;margin-left:-26px;}
	> .CaptionCont{border-radius:3px;border:2px solid #dedede;}
	> .CaptionCont > span.placeholder{font-style:normal;color:#fff;font-size:18px;font-family:$abel;}
	.SelectBox {padding:10px 10px 10px 14px;}
	> .CaptionCont > label > i{background:none;border-color:rgba($primary,1) transparent transparent transparent;border-style: solid;border-width: 8px 6px 0 6px;width:0;height:0;top:6px;}
&.open{
	// > .CaptionCont{border-radius:10px 10px 0 0;}
 > .optWrapper{top:45px;}	
.search-txt{padding:10px 8px;}
} 
> .optWrapper{
	> .options li{background:#fff;padding:5px 6px;
        label{color:#8b8b8b;font-size:13px;margin-bottom:0;line-height:19px;}
     &:hover{background:$primary;
     label{color:#fff;}
    }
    } 
}
.select-all > span i, > .optWrapper.multiple > .options li.opt span i{border:1px solid #fff;}
> .optWrapper > .options li.opt:hover{background-color:$primary;}
> .CaptionCont > span{color:#8b8b8b;}
}
.SumoSelect.open > .CaptionCont, .SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont{box-shadow:none;}
.SumoSelect.open > .CaptionCont, .SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont{border-color:$primary;}
.col-md-12.manage-facilities div.dataTables_scrollHead table.table-bordered{
    thead{
        th{
            &:nth-child(2) {width:84.617px !important;}
            &:nth-child(3) {width:78.15px !important;}
            &:nth-child(4) {width: 61.583px !important;}
            &:nth-child(5) {width: 70.183px !important;}
            &:nth-child(6) {width:87.767px !important;}
        }
    }
}
.col-lg-6{
    &.contactsettings{
        .form-group{position: relative;
            .form-control{display:inline-block;width:95%;}
            .animated-checkbox {display: inline-block;position: absolute;right: 0;top: 39px;}
        }
    }
}
.row{
 &.transaction-class{
     h6{font-size:20px;}
     .table{
         td{padding:2px;
             input{@extend .input;
             &:disabled{opacity:0.5;background:#d5d5d5;}
            }
         }
     }
 }
}
.col-lg-6{
    .prof-img{
        .img-thumbnail{max-width:200px;}
    }
}