    /* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
} */

    .relative {
        position: relative !important;
    }

    .tab-modal .modal-header {
        background-color: #29b6f6;
        padding: 10px 15px !important;
        border: none;
    }

    .tab-modal .modal-title {
        color: #ffffff;
        font-size: 17px;
    }

    .tab-modal .close {
        color: #ffffff !important;
        border: 2px solid #ffffff;
        opacity: 1 !important;
        text-shadow: none !important;
        border-radius: 25px;
        width: 25px;
    }

    .tab-modal .modal-body {
        padding: 0 !important;
    }

    .tab-modal .nav-tabs {
        border-bottom: 0px !important;
    }

    .tab-modal .nav-tabs>li.active>a,
    .tab-modal .nav-tabs>li.active>a:focus,
    .tab-modal .nav-tabs>li.active>a:hover {
        border-top: 0 !important;
        border-radius: 0 !important;
        color: #303030;
        font-size: 13px;
        text-transform: capitalize;
        background: #ffffff;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        border: 1px solid #e0e0e0 !important;
    }

    .tab-modal .nav-tabs {
        background-color: #fff;
    }

    .tab-modal .nav-tabs>li>a {
        color: #868686;
        text-transform: capitalize;
        border: none !important
    }

    .tab-modal .modal-footer {
        background-color: #eeeeee;
        padding: 10px 15px;
    }

    .tab-modal .tab-content--inner {
        padding: 20px 15px 10px 15px;
        width: 100%;
        display: inline-block;
        height: 300px;
        overflow-x: auto;
    }

    .tab-modal .tab-content--inner::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 0px;
        background-color: #F5F5F5;
    }

    .tab-modal .tab-content--inner::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
    }

    .tab-modal .tab-content--inner::-webkit-scrollbar-thumb {
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #2196f3;
    }

    .tab-modal .tab-content .tab-pane {
        position: relative;
    }

    .tab-modal .tab-content .tab-footer {
        width: 100%;
        float: left;
        padding: 10px 15px;
        background-color: #eeeeee;
    }

    .tab-modal .form-control {
        border-radius: 0px;
        border: 1px solid #d8d6d6;
        box-shadow: none;
    }

    .tab-modal label {
        font-size: 14px;
        font-weight: 600;
        color: #303030;
        font-family: 'Hind Madurai', sans-serif;
    }

    .tab-content--inner .image-radio {
        display: inline-block !important;
        margin-bottom: 20px;
    }

    .image-radio {
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 4px solid transparent;
        margin-bottom: 0;
        outline: 0;
        width: 130px;
        height: 130px;
        border-radius: 100%;
        text-align: center;
        position: relative;
        padding: 20px 15px;
        border: 1px solid #f1f1f1;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        margin: 0 15px;
        display: inline-block !important;
    }

    .avatar-error {
        text-align: center;
        background: transparent;
        width: 100%;
        display: block;
        padding-top: 4px;
        font-size: 10px;
    }

    @media(min-width: 768px) {
        .image-radio {
            margin-bottom: 15px;
        }
    }

    .image-radio i.fa {
        font-size: 45px;
        color: #78a0a2;
        margin-top: 17px;
    }

    .image-radio input[type="radio"] {
        display: none;
    }

    /* .image-radio-checked {
        border-color: #49aa4d;
        background-color: #49aa4d;
    } */

    .image-radio-checked {
        border-color: #a5d6a7;
        background-color: #A5D6A8;
    }

    .image-radio .glyphicon {
        position: absolute;
        color: #fefefe;
        background-color: #66bb6a;
        padding: 10px;
        top: 5px;
        right: 5px;
        border-radius: 25px;
        box-shadow: 0px -1px 6px #fff;
        display: none;
    }

    .image-radio-checked .glyphicon {
        display: block !important;
    }

    .choose-user {
        width: 100%;
        float: left;
        text-align: center;
    }

    .choose-user .image-radio h3 {
        font-size: 12px;
        text-transform: capitalize;
        margin: 0;
        padding-top: 4px;
        color: #303030;
    }

    .parent-select {
        width: 100%;
        float: left;
        margin-top: 30px;
    }

    .parent-select .grouping {
        padding: 0px !important;
        margin: 0 !important;
    }

    .set-parent {
        width: 154px;
        display: inline-block;
        position: relative;
    }

    /* @media(min-width: 768px) {
    .set-parent {
        width: 100%;
        margin-bottom: 15px;
    }

    .parent-drop {
        width: 100%;
    }
} */

    @media(max-width:767px) {
        .parent-drop {
            width: 90% !important;
            margin: 0px auto !important;
        }
    }

    .set-parent label {
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
        cursor: pointer;
    }

    .parent-drop {
        width: 50%;
        position: relative;
        margin: 0px auto;
        float: none;
    }

    .parent-drop .form-control {
        border-radius: 0;
    }

    .parent-drop .form-group label {
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
        color: #303030;
    }

    .tab-footer .btn-next {
        background-color: #49aa4d;
        color: #ffffff;
        text-transform: capitalize;
        border: 1px solid #49aa4d;
        padding: 5px 15px;
        float: right;
        cursor: pointer;
    }

    .tab-footer .btn-next:hover {
        background-color: #248827;
    }

    .tab-footer .lst_data {
        background-color: #49aa4d;
        color: #ffffff;
        text-transform: capitalize;
        border: 1px solid #49aa4d;
        padding: 5px 15px;
        float: right;
        cursor: pointer;
    }

    .tab-footer .lst_data:hover {
        background-color: #248827;
    }

    .tab-footer .btn-prev {
        background-color: #a2a2a2;
        color: #ffffff;
        text-transform: capitalize;
        border: 1px solid #a2a2a2;
        padding: 5px 15px;
        float: left;
        cursor: pointer;
    }

    .tab-footer .btn-prev:hover {
        background-color: #696969;
    }

    .tab-modal .modal-content {
        border-radius: 0 !important;
        transition: ease 0.3s;
    }

    .personal-info {
        width: 100%;
    }

    /* select input on initial page */

    .fm-input-select {
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 0 !important;
        box-shadow: none !important;
    }

    /* pic upload */

    .avatar-upload {
        position: relative;
        max-width: 120px;
        margin: 0px auto;
    }

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 1px;
        z-index: 1;
        top: -2px;
    }

    .avatar-upload .avatar-edit input {
        display: none;
    }

    .avatar-upload .avatar-edit input+label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }

    .avatar-upload .avatar-edit input+label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }

    .avatar-upload .avatar-edit input+label:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }

    .avatar-upload .avatar-preview {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .avatar-upload .avatar-preview>div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* pic upload end */

    .personal-form {
        width: 100%;
        margin-top: 20px;
    }

    .line-radio {
        display: inline-block;
        cursor: pointer;
    }

    .personal-form .line-radio label {
        display: inline-block !important;
    }

    .personal-form .line-radio input {
        display: inline-block !important;
        vertical-align: sub;
    }

    /* .label-block {
    display: block;
    top: -5px;
    font-size: 11px;
    color: #5d5386;
    position: absolute;
} */
    /* Material form *

.bmd-form-group {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 30px;
    /* height: 37px; *
}

.bmd-form-group input,
.bmd-form-group textarea {
    border: none;
    border-bottom: 1px solid #cacaca;
    padding: 10px;
    display: block;
    width: 100%;
}

.bmd-form-group input:focus,
.bmd-form-group textarea:focus {
    outline: none;
    border-color: #2196f3;
    transition: all 0.6s ease;
}

.bmd-form-group input:focus~label,
.bmd-form-group input:valid~label,
.bmd-form-group textarea:focus~label,
.bmd-form-group textarea:valid~label {
    top: -3px;
    font-size: 11px;
    color: #5d5386;
}

.bmd-form-group label {
    position: absolute;
    color: #404b57;
    top: 12px;
    left: 15px;
    transition: 0.2s ease all;
    font-size: 15px;
    text-transform: capitalize;
    z-index: 2;
    font-weight: normal;
    font-size: 14px;
}


/* Material form end *

.form-group.bmd-form-group .form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control.custom-field {
    border: none;
    border-bottom: 1px solid #cacaca;
    border-radius: 0;
    box-shadow: none;
}

.form-control.custom-field:focus {
    box-shadow: none;
}


/* Contact info */

    .contact-info {
        width: 100%;
    }

    textarea {
        resize: none;
    }

    .tab-content--inner input[type=number]::-webkit-inner-spin-button,
    .tab-content--inner input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Identification */

    .identification-info {
        width: 100%;
    }

    .advance-options {
        width: 100%;
    }

    .permission-box {
        margin-bottom: 15px;
    }

    .tab-footer .btn-save {
        background-color: #2196f3;
        color: #ffffff;
        text-transform: capitalize;
        border: 1px solid #2196f3;
        padding: 5px 15px;
        float: right;
        cursor: pointer;
    }

    .tab-footer .btn-save:hover {
        background-color: #0c248f;
    }

    .tab-content--inner .form-group span.error {
        font-size: 11px;
        position: absolute;
        color: rgb(255, 88, 88);
        bottom: -14px;
        left: 11px;
    }

    .tab-modal .nav-tabs>li {
        float: none;
        display: inline-block;
    }

    .pure-material-checkbox {
        z-index: 0;
        position: relative;
        display: block;
        color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
        font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
        font-size: 16px;
        line-height: 1.5;
        margin-right: 8px;
    }

    @media(min-width: 768px) {
        .pure-material-checkbox {
            display: inline-block;
        }
    }

    /* Input */

    .pure-material-checkbox>input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        z-index: -1;
        position: absolute;
        left: -10px;
        top: -8px;
        display: block;
        margin: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
        box-shadow: none;
        outline: none;
        opacity: 0;
        transform: scale(1);
        pointer-events: none;
        transition: opacity 0.3s, transform 0.2s;
    }

    /* Span */

    .pure-material-checkbox>span {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        font-weight: normal;
        font-size: 14px;
    }

    /* Box */

    .pure-material-checkbox>span::before {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        margin: 3px 11px 3px 1px;
        border: solid 2px;
        /* Safari */
        border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
        border-radius: 2px;
        width: 18px;
        height: 18px;
        vertical-align: top;
        transition: border-color 0.2s, background-color 0.2s;
    }

    /* Checkmark */

    .pure-material-checkbox>span::after {
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        left: 1px;
        width: 10px;
        height: 5px;
        border: solid 2px transparent;
        border-right: none;
        border-top: none;
        transform: translate(3px, 4px) rotate(-45deg);
    }

    /* Checked, Indeterminate */

    .pure-material-checkbox>input:checked,
    .pure-material-checkbox>input:indeterminate {
        background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    }

    .pure-material-checkbox>input:checked+span::before,
    .pure-material-checkbox>input:indeterminate+span::before {
        border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
        background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    }

    .pure-material-checkbox>input:checked+span::after,
    .pure-material-checkbox>input:indeterminate+span::after {
        border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    }

    .pure-material-checkbox>input:indeterminate+span::after {
        border-left: none;
        transform: translate(4px, 3px);
    }

    /* Hover, Focus */

    .pure-material-checkbox:hover>input {
        opacity: 0.04;
    }

    .pure-material-checkbox>input:focus {
        opacity: 0.12;
    }

    .pure-material-checkbox:hover>input:focus {
        opacity: 0.16;
    }

    /* Active */

    .pure-material-checkbox>input:active {
        opacity: 1;
        transform: scale(0);
        transition: transform 0s, opacity 0s;
    }

    .pure-material-checkbox>input:active+span::before {
        border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    }

    .pure-material-checkbox>input:checked:active+span::before {
        border-color: transparent;
        background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    }

    /* Disabled */

    .pure-material-checkbox>input:disabled {
        opacity: 0;
    }

    .pure-material-checkbox>input:disabled+span {
        color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
        cursor: initial;
    }

    .pure-material-checkbox>input:disabled+span::before {
        border-color: currentColor;
    }

    .pure-material-checkbox>input:checked:disabled+span::before,
    .pure-material-checkbox>input:indeterminate:disabled+span::before {
        border-color: transparent;
        background-color: currentColor;
    }

    .custom-radio-btn {
        font-size: 14px;
        display: inline-block !important;
        margin-right: 20px;
        margin-top: 8px;
        margin-bottom: 0;
        cursor: pointer;
        position: relative;
        font-weight: normal;
        float: left;
    }

    input {
        display: none;
    }

    .custom-radio-outer {
        width: 15px;
        height: 15px;
        display: inline-block;
        border: 2px solid #3f51b5;
        border-radius: 50%;
        vertical-align: text-bottom;
        margin-right: 5px;
        position: relative;
        vertical-align: middle;
    }

    .custom-radio-inner {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transition: all 200ms ease-in-out;
        opacity: 0;
        background: #303f9f;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid #303f9f;
    }

    input:checked+.custom-radio-outer .custom-radio-inner {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    .wrapper_colors {
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        padding: 0px;
        /* height: 50px; */
    }

    .wrapper_colors ul {
        /* padding: 25px 5px 10px 0px; */
        margin: 0px !important;
        text-align: center !important;
        background-color: #e2e2e2 !important;
    }

    /* .list_colors {
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 3000px;
    margin-left: 12px;
    margin-top: 0px;
} */

    .list_colors li {
        display: table-cell;
        position: relative;
        text-align: center;
        cursor: grab;
        cursor: -webkit-grab;
        color: #efefef;
        vertical-align: middle;
    }

    .scroller {
        text-align: center;
        cursor: pointer;
        display: block !important;
        padding: 7px;
        padding-top: 11px;
        white-space: no-wrap;
        vertical-align: middle;
        background-color: #fff;
    }

    .scroller-right-1 {
        float: right;
    }

    .scroller-left-1 {
        float: left;
    }

    .tab-content--inner {
        position: relative;
        width: 100%;
        display: inline-block;
    }

    .vg-modal .modal .modal-dialog .modal-content {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #DDDDDD;
        border-radius: 2px;
        box-shadow: none;
        padding: 0px !important;
        border: 0px !important
    }

    .vg-modal .modal-dialog.modal-dialog-scrollable .modal-header button.close {
        position: absolute;
        right: 30px;
        top: 12px;
        right: 20px;
    }

    .vg-modal .modal .modal-dialog .modal-content .modal-header {
        border-bottom-width: 2px;
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
        border-bottom: 0;
    }

    @media(max-width:991px) {
        .hidden-text {
            display: none !important
        }

        .wrapper_colors .nav-tabs>li>a i {
            font-size: 15px;
        }
    }

    @media(min-width:992) {
        .wrapper_colors ul {
            padding: 0px;
            margin: 0px !important;
            text-align: left;
        }

        .wrapper_colors .nav>li>a {
            position: relative;
            display: block;
            padding: 8px 1px;
        }

        .wrapper_colors ul {
            padding: 20px 5px;
            margin: 0px !important;
            text-align: center !important;
        }
    }

    @media(min-width:768px) {
        .hidden-text {
            /* width: 200px; */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px;
            font-size: 1.3rem;
            margin: 0;
            /* background: white; */
            resize: horizontal;
        }
    }

    .error-fill {
        position: absolute;
        left: 11px;
        bottom: 0;
    }

    .has-success,
    .is-valid {
        color: #49aa4d !important;
    }

    .has-success,
    .is-valid {
        color: #49aa4d !important;
    }

    .has-error,
    .is-invalid {
        color: #f04d56 !important;
    }

    .hide-labels {
        display: none !important;
    }

    .error-fill-fst {
        position: absolute !important;
        left: 1px !important;
        bottom: -12px !important;
        font-size: 11px !important;
    }

    .cheque-icon {
        font-size: 16px;
        color: #303030;
        margin-bottom: 10px;
    }

    .bill-pay-popup.confirm-order.card .text-content label {
        color: #303030;
        font-size: 14px;
        margin-bottom: 2px;
        margin-top: 0px;
    }

    .bill-pay-popup.confirm-order.card .text-content .form-control {
        border-radius: 0;
    }

    .confirm-order.card .text-content .form-group span.error {
        position: absolute;
        left: 10px;
        font-size: 10px;
        color: red;
        bottom: -14px;
    }

    .billing-paymnt-method h4 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #303030;
    }

    .billing-paymnt-method h6 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
        color: #303030;
    }

    .bill-pay-popup .payment-proceed {
        position: relative;
        margin-top: 10px;
        background-color: transparent !important;
    }

    .bill-pay-popup .b-close {
        z-index: 9;
        border-radius: 100%;
    }

    .address-phone {
        display: block;
        color: #303030;
    }

    .side-pro-view {
        padding: 15px;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        width: 220px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .side-pro-view p .p-left {
        float: none;
        text-transform: capitalize;
    }

    .side-pro-view p {
        margin-bottom: 0px;
        line-height: 18px !important;
        font-size: 14px;
    }

    .tab-modal label.pure-material-checkbox {
        display: inline-block !important;
    }

    .tab-center-text ul {
        text-align: center !important;
    }

    .tab-center-text .tab-modal .nav-tabs>li>a i {
        vertical-align: middle !important;
    }

    .tab-center-text .tab-body {
        padding: 20px 15px !important;
    }

    .tab-center-text .badge {
        text-transform: uppercase;
        padding: 3px 5px;
        font-size: 11px;
        margin-top: 1px;
        background-color: #e3e4e4;
        color: #5d5386 !important;
    }